<h3> Contact Details</h3>

<ul>
  <li><%= @contact.first_name() %></li>
  <li><%= @contact.last_name() %></li>
  <li><%= @contact.job_title() %></li>
  <li><%= @contact.company() %></li>
</ul>

<a href="/">Home</a>
